.tab1{

    --color: #eceef0;
    
    --color-selected: #e42d2d;
}
    
.tab1:hover {
    
    --color: #e42d2d;
    
    ---color-selected: #e42d2d;
}

.tab2{

    --color: #eceef0;
    
    --color-selected: #387caa;
}
    
.tab2:hover {
    
    --color: #387caa;
    
    ---color-selected: #387caa;
}

.tab3{

    --color: #eceef0;
    
    --color-selected: #5a53c4;
}
    
.tab3:hover {
    
    --color: #5a53c4;
    
    ---color-selected: #5a53c4;
}