<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-wrap">
      Financiación del comercio programable
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item class="ion-margin">
  <ion-label class="ion-text-wrap">
    <h1>Introducción</h1>
    <p style="color: white;">Los avances digitales están cambiando cómo se hacen los pagos internacionales,
       buscando mayor transparencia y rapidez. Para facilitar este comercio y satisfacer las expectativas de los clientes,
       es esencial modernizar los pagos transfronterizos.</p>
       <br><br>
      <p style="color: white;">Es por eso que se propone utilizar una infraestructura llamada Multi-CBDC Bridge para mejorar el proceso de pago en el comercio internacional.
         Esto ofrecería beneficios a las empresas, simplificando y agilizando los pagos relacionados con el comercio internacional.</p>
  </ion-label>
</ion-item>
<ion-item class="ion-margin">
  <ion-label class="ion-text-wrap">
    <h1>Desafíos existentes en la solución comercial</h1>
    <br>
    <ion-button expand="block" (click)="setOpen1(true)" color="success">Transparencia de Pagos</ion-button>
    <ion-modal [isOpen]="isModalOpen1">  <!-- Modal 1 -->
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Transparencia de Pagos</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen1(false)">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>
            Durante mucho tiempo, los procesos de pagos entre paises han sido complejos,
            lo que ha causado dificultades para diversos socios y empresas comerciales. A menudo, 
            los pagos no podían ser rastreados de principio a fin.
            <br><br>
            Las empresas constantemente tenían que llamar a la línea de atención al cliente de un banco para obtener información sobre los pagos,
            realizados y el banco podría no tener la información más reciente. Los bancos podrían tener que enviar recordatorios a su banco contraparte
            y a otros bancos corresponsales, lo que podría retrasar el proceso durante varios días.
          </p>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-button expand="block" class="ion-text-wrap" (click)="setOpen2(true)" color="warning">Proceso de pago manual de tiempo intensivo</ion-button>
    <ion-modal [isOpen]="isModalOpen2"> <!-- Modal 2 -->
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Proceso de pago manual de tiempo intensivo</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen2(false)">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>
            La intervención humana de la FLS es necesaria para facilitar pagos cuando falta o es incorrecta la información.
            Cuando los filtros de sanciones generan una alerta, se requiere información adicional del iniciador del pago para determinar
            si las coincidencias son genuinas o falsos positivos. Además de las alertas de sanciones,
            detalles de pago incorrectos proporcionados por el iniciador también generarán estas investigaciones manuales.
            <br><br>
            Estas investigaciones se llevan a cabo a través de un proceso secuencial para comunicarse con el banco iniciador
            y solicitar aclaraciones de sus clientes. Los retrasos pueden durar varios días debido a las diferencias horarias,
            plazos de corte e incluso días festivos. Esto podría tener un impacto negativo en el negocio del cliente, como envíos perdidos.
          </p>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-button expand="block" class="ion-text-wrap" (click)="setOpen3(true)" color="danger">Tarifas de pagos transfronterizas impredecibles</ion-button>
    <ion-modal [isOpen]="isModalOpen3"> <!-- Modal 3 -->
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Tarifas de pagos transfronterizas impredecibles</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen3(false)">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>
            El modelo actual de pagos transfronterizos se basa en el modelo de banca corresponsal,
            donde los FLS establecen cuentas recíprocas entre sí. Sin embargo, el número de relaciones
            de banca corresponsal ha disminuido globalmente en un 20% desde 2011 hasta 2018, afectando a casi
            todas las regiones y países.</p>
            <br>
            <ion-card>
              <img alt="Grafica Banca Corresponsal" src="https://i.imgur.com/HyKQIOP.jpg" />     
              <ion-card-content>
                Número de relaciones de banca corresponsal.
              </ion-card-content>
            </ion-card>
            <p>En ciertos casos, cuando el banco iniciador no tiene una cuenta con el banco beneficiario,
               el banco intermediario, que tiene cuentas en ambos bancos, moverá los fondos de un banco al otro
               y se aplicará un cargo por el servicio.
              <br><br>
              El modelo actual de pagos transfronterizos es complejo e involucra a múltiples intermediarios,
              lo que puede llevar a aumentos impredecibles en las tarifas de pago.
              </p>
              <ion-card>
                <img alt="Comparativa modelos de pagos" src="https://i.imgur.com/AMLUO3v.jpg" />     
                <ion-card-content>
                  Comparativa modelos de pagos
                </ion-card-content>
              </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-label>
</ion-item>
<ion-item class="ion-margin">
  <ion-label class="ion-text-wrap">
    <h1>Flujo de trabajo de pagos comerciales mejorado</h1>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>
            En los últimos años, la digitalización se ha vuelto una tendencia importante en el financiamiento comercial.
            Nuevas plataformas utilizan la tecnología de contabilidad distribuida para mejorar los flujos de pago en el comercio. 
            <br><br>
            Sin embargo, la infraestructura actual separa los procesos de pago y plataformas comerciales,
            lo que genera falta de visibilidad y retrasos. 
          </p>
        </ion-col>
        <ion-col>
          <p>
            Las CBDC podrían conectarse con estas plataformas digitales y unir los mundos de comercio y pago,
            creando una experiencia completamente digital y continua para los clientes.
            <br><br>
            <b>Es decir, con esta conectividad, una CBDC no solo hace que los pagos comerciales sean más rápidos y transparentes,
            sino que también permite a las Fls ofrecer a sus clientes una solución de financiación comercial más completa.
          </b> 
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-label>
</ion-item>
<ion-item class="ion-margin">
  <ion-label class="ion-text-wrap">
    <h1>Beneficios esperados para los clientes</h1>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card color="success">
            <ion-card-header>
              <ion-card-title>Seguimiento en tiempo real de un extremo a otro</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              mBridge usa una red única que conecta bancos comerciales en diferentes lugares,
              permitiendo visibilidad 24/7 en tiempo real. Esto mejora la gestión de situaciones excepcionales
              y agiliza el comercio internacional, brindando una mejor experiencia de pago al cliente.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card color="warning">
            <ion-card-header>
              <ion-card-title>Condiciones de pago</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Se puede usar moneda digital programable para reducir el riesgo en el comercio internacional.
              Los pagos ocurren solo si se cumplen condiciones. Esto beneficia a importadores y exportadores al mejorar los términos de pago
              y reduce el riesgo de no entrega. También permite a los Fls controlar mejor el financiamiento comercial,
              ofreciendo opciones más baratas a empresas.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card color="danger">
            <ion-card-header>
              <ion-card-title style="color: black;">Liquidación comercial más barata y rápida</ion-card-title>
            </ion-card-header>
            <ion-card-content style="color: black;">
            mBridge reduce tarifas internacionales al eliminar intermediarios financieros.
            Con CBDC, los pagos cruzados se hacen directamente entre bancos sin intermediarios.
            Esto ahorra costos y evita retrasos por días festivos o zonas horarias, logrando pagos comerciales más rápidos y económicos.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-label>
</ion-item>
<ion-item class="ion-margin">
  <ion-label class="ion-text-wrap">
    <h1>Futuros casos de uso para el dinero programable basado en CBDC</h1>
    <p>Además de agilizar pagos comerciales más transparentes, baratos y rápidos,
      las CBDC también pueden facilitar pagos basados en el desempeño de las partes.
      Su diseño programable las convierte en una herramienta para digitalizar diversos instrumentos comerciales.</p>
      <ion-grid> <!-- Grid 1 -->
        <ion-row>
          <ion-col> <!-- Col 1 -->
            <ion-label class="ion-text-wrap">
              <h2><b>Préstamos comerciales</b></h2>
              <p>
                Los Fls pueden ofrecer préstamos comerciales en forma de CBDCs programables,
                controlando el uso según condiciones específicas. Esto reduce el riesgo crediticio,
                eliminando la necesidad de documentos comerciales para préstamos. Además, puede ampliar el acceso corporativo a financiamiento comercial.</p>
            </ion-label>
          </ion-col>
          <ion-col>  <!-- Col 2 -->
            <ion-label class="ion-text-wrap">
              <h2><b>Garantía</b></h2>
              <p>
                El dinero programable esta como garantía para ser transferido a un beneficiario donde el dinero está programado
                para poder gastarse solo si se cumplen ciertas condiciones.
              </p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid> <!-- Grid 2 -->
        <ion-row>
          <ion-col>  <!-- Col 3 -->
            <ion-label class="ion-text-wrap">
              <h2><b>Financiamiento más profundo en la cadena de suministro</b></h2>
              <p>
                Con CBDC programables, los Fls pueden ofrecer financiamiento integral a toda la cadena de suministro,
                transfiriendo el compromiso de pago a niveles más profundos o vinculando pagos entre diferentes niveles.
                Esto respalda las necesidades de capital de trabajo de las micro, pequeñas y medianas empresas
                al permitirles aprovechar la solvencia de compradores más grandes para obtener un mejor financiamiento.
              </p>
            </ion-label>
          </ion-col> 
          <ion-col>  <!-- Col 4 -->
            <ion-label class="ion-text-wrap">
              <h2><b>Nuevas formas de mitigar riesgos</b></h2>
              <p>
              Usando características programables de CBDC, se podría agregar una capa adicional de mitigación de riesgos
              a las transacciones comerciales al condicionar el pago a hitos clave o confirmaciones de terceros como transportistas,
              inspectores, puertos, etc.
              </p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
      <ion-card>
        <img alt="Ejemplo CBDC" src="https://i.imgur.com/tHRgqwC.png" />     
        <ion-card-content>
          Ejemplo CBDC.
        </ion-card-content>
      </ion-card>
    </div>
  </ion-label>
</ion-item>
<ion-item class="ion-margin">
  <ion-label>
    <video width="100%" height="auto" controls="controls">
      <source src="../../assets/videos/mbridge_project.mp4" type="video/mp4" />
     </video>
  </ion-label>
</ion-item>
</ion-content>
