<ion-header [translucent]="true" >
  <ion-toolbar color="danger">
    <ion-title>
      Pagos comerciales transfronterizos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="ion-margin">
    <ion-label>
      <h1>Introducción</h1>
      <p class="ion-padding-bottom">A menudo se percibe que los pagos transfronterizos enfrentan desafíos de alto costo, baja velocidad, acceso limitado y transparencia insuficiente.
        El Banco de Pagos Internacionales había identificado siete cuestiones clave para los pagos transfronterizos bajo el actual modelo de liquidación de banca corresponsal</p>
      <ion-list lines="inset">
        <ion-list-header>
          <ion-label>Siete cuestiones clave</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-icon name="remove-outline"></ion-icon>
          <p>Formatos de datos fragmentados y truncados</p>
        </ion-item>
        <ion-item>
          <ion-icon name="remove-outline"></ion-icon>
          <p>Procesamiento complejo de controles de cumplimiento</p>
        </ion-item>
        <ion-item>
          <ion-icon name="remove-outline"></ion-icon>
          <p>Horario de funcionamiento limitado</p>
        </ion-item>
        <ion-item>
          <ion-icon name="remove-outline"></ion-icon>
          <p>Plataformas tecnológicas heredadas</p>
        </ion-item>
        <ion-item>
          <ion-icon name="remove-outline"></ion-icon>
          <p>Largas cadenas de transacciones</p>
        </ion-item>
        <ion-item>
          <ion-icon name="remove-outline"></ion-icon>
          <p>Costos de financiación</p>
        </ion-item>
        <ion-item>
          <ion-icon name="remove-outline"></ion-icon>
          <p>Competencia débil</p>
        </ion-item>
      </ion-list>
      <p class="ion-padding-bottom">Una de las cinco áreas de enfoque es explorar el papel potencial de las nuevas infraestructuras y acuerdos de pago, y las monedas digitales del banco central (CBDC) fueron identificadas como un facilitador y catalizador para eliminar potencialmente los obstáculos al surgimiento de nuevas infraestructuras y acuerdos de pago transfronterizos.</p>
    </ion-label>
  </ion-item>
  <ion-item class="ion-margin">
    <ion-label>
      <h1>Principales desafíos en la liquidación de acuerdos comerciales transfronterizos</h1>
      <p class="ion-padding-bottom">De los siete problemas clave identificados por BI, HSBC está interesado en explorar el uso de CBDC mayorista para abordar cuatro obstáculos principales que enfrentan los pagos transfronterizos.</p>
      <p class="ion-padding-bottom">Una de las cinco áreas de enfoque es explorar el papel potencial de las nuevas infraestructuras y acuerdos de pago, y las monedas digitales del banco central (CBDC) fueron identificadas como un facilitador y catalizador para eliminar potencialmente los obstáculos al surgimiento de nuevas infraestructuras y acuerdos de pago transfronterizos.</p>
    </ion-label>
  </ion-item>
</ion-content>
